<div class="container">
	<a href="/images/uploads/<%- product.prod_image %>"><img src ="/images/uploads/thumbs/<%- product.prod_image %>" class="img-thumbnail large pull-right" ></a>
	<h1><%- product.prod_name %> </h1>
	<h3><%- product.prod_desc %> </h3>
	<% if(product.feature) { %>
			Featured
			<% } else { %>
				Not Featured
			<% } %>
	<hr>
	<h3>Price : <%= product.prod_base_price %> </h3>

	<a href="/product/edit/<%= product.id %>" class="btn btn-medium btn-primary"> Edit </a>

</div>